<h1>Tarefas</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
  	<th>Tarefa</th>
    <th>Concluída</th>
  	<th class="text-center">
      <a
         class="btn btn-xs btn-success">
         <span class="glyphicon glyphicon-plus"
           aria-hidden="true"></span> Novo
      </a>
  </th>
  </tr>
  <tr>
    <td>

    </td>
    <td style="width: 70px" class="text-center">
      <input
        type="checkbox">
    </td>
    <td class="text-center" style="width: 200px">
      <a
        title="Editar" alt="Editar"
        class="btn btn-xs btn-info">
        <span class="glyphicon glyphicon-pencil"
          aria-hidden="true"></span> Editar
      </a>
      <a href="#" title="Remover" alt="Remover"

        class="btn btn-xs btn-danger">
        <span class="glyphicon glyphicon-remove"
          aria-hidden="true"></span> Remover
      </a>
    </td>
  </tr>
</table>

<p>Nenhuma tarefa cadastrada.</p>
